.grayscale {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

img {
    max-width: 100% !important;
}

p {
    margin-left: 15px !important;
    margin-top: 10px !important;
}

body {
    font: normal 20px Verdana, Arial, sans-serif !important;
}

.col-sm-4 {
    padding: 0 !important;
    margin: 5px !important;
    clear:both;
    display: inline-block;
    overflow: hidden;
}

.col-md-12 {
    background-color: lightblue;
    padding: 0 !important;
    margin-bottom: 20px;
}

.panel {
    margin-top: 5px;
    margin-bottom: 10px;
}

.panel-body {
    padding: 0 !important;
}
